// https://coolors.co/264653-1d615f-147c6b-02b182-01c38d-f4a261-ee8959-e76f51
$charcoal: #264653;
$min: #2d6568;
$celadon: #34847c;
$zomp: #3ba390;
$meadow: #42c2a4;
$sandy: #f4a261;
$mandarin: #ee8959;
$ryb: #f33829;
$success: #11d070;
