// https://coolors.co/264653-1d615f-147c6b-02b182-01c38d-f4a261-ee8959-e76f51
$charcoal: #264653;
$skobeloff: #1d615f;
$pine: #147c6b;
$crayola: #02b182;
$carribean: #01c38d;
$sandy: #f4a261;
$mandarin: #ee8959;
$sienna: #e76f51;
