services:
    nextjs-app:
        restart: always
        build:
            context: .
            dockerfile: Dockerfile
        container_name: rent-my-kangoo
        ports:
            - '3000:3000'
        environment:
            NODE_ENV: production
        volumes:
            - /var/www/rent-my-kangoo/data:/data
        command: npm start
