.availability {
	overflow: hidden;
	max-width: 532px;
	max-height: 250px;
	margin: 1rem;
	position: relative;

	iframe {
		border: none;
		height: 2100px;
		width: 600px;
		margin-top: -1850px;
		margin-left: -26px;
	}
}

.invisible {
	visibility: hidden;
}

.visible {
	visibility: visible;
}
