.headline {
	text-align: right;
}

.information {
	h2 {
		margin-left: auto;
	}
}

.icon {
	svg {
		width: 4rem;
		height: auto;
		border: 2px solid $meadow;
		border-radius: 100%;
		padding: 0.5rem;
		transition: all $defaultTransitionDuration;
		background-color: white;
		z-index: 9;
		&:hover {
			transform: scale(1.1);
			fill: $zomp;
			fill: $success;
		}
	}
}

.row {
	margin: 3rem 0;
	display: flex;
	div {
		display: flex;
		align-items: center;
	}
}

$centerMargin: 4.5rem;
.right {
	margin: 1.5rem $centerMargin;
	margin-left: auto;
	text-align: right;
	p {
		margin-right: -1.5rem;
	}
}
.left {
	margin: 1.5rem $centerMargin;
	margin-right: auto;
	text-align: left;
	p {
		margin-left: -1.5rem;
	}
}
.miniIcon {
	position: relative;
	top: 5px;
}
.lock {
	margin-left: 7rem;
}
.key {
	color: orange;
}
.documents {
	margin: 0.3rem 0;
	span {
		font-weight: 600;
	}
	ul {
		margin: 0.1rem 0;
		padding-left: 1rem;
	}
}
