.reviews {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin: 0rem 5rem 9rem 5rem;
	flex-wrap: wrap;
}
@include sm {
	.reviews {
		justify-content: center;
	}
}
.feedback {
	flex-basis: 30%;
	display: flex;
	flex-direction: row;
	padding: 1rem;
	height: max-content;
	@include tilt-on-hover;
	margin: 1rem;
}
.pictureWrapper {
	min-width: 120px;
	width: 120px;
	height: 120px;
	border: 2px solid $meadow;
	border-radius: 100%;
	img {
		border-radius: 100%;
		object-position: top;
		object-fit: cover;
	}
}
@include sm {
	.pictureWrapper {
		min-width: 100px;
		width: 100px;
		height: 100px;
	}
}
.content {
	display: flex;
	flex-direction: column;
	margin-left: 1rem;
	svg {
		color: orange;
		height: 28px;
		width: 28px;
		position: relative;
		top: 2px;
	}
}
.name {
	color: gray;
	font-size: 1rem;
	margin: auto 0;
}
.message {
	margin-top: 0.5rem;
	text-align: justify;
	font-size: 0.9rem;
}
.head {
	display: flex;
	flex-direction: row;
}
.rating {
	margin-left: 1rem;
	white-space: nowrap;
}
