.wrapper {
	position: relative;
}
@include xs {
	.spec {
		padding-top: 1rem;
		padding-bottom: 1rem;
	}
}

.bgWrapper {
	position: absolute;
	background-image: url('/pictures/spec-bg.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	width: 100%;
}

.bgWrapper::after {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.5);
}

.spec {
	h3 {
		color: darkgray;
		margin-top: 0;
	}
	label {
		color: gray;
		width: max-content;
	}
	span {
		width: max-content;
	}
	ul {
		padding-left: 0;
	}
}
.techspec {
	display: flex;
	flex-wrap: wrap;
}

$minWidthBase: 332px;
.techspecWrapper {
	flex-basis: 31%;
	min-width: $minWidthBase;

	svg {
		position: relative;
		top: 5px;
		margin-right: 3px;
	}
}
.accessoriesWrapper {
	min-width: 272px;
	flex-basis: 20%;
	li {
		margin-bottom: 0.8rem;
		display: flex;
	}
	svg {
		margin-right: 6px;
	}
}
.advantagesWrapper {
	flex-basis: 39%;
	min-width: $minWidthBase;
	li {
		list-style: disclosure-closed;
		margin-bottom: 0.1rem;
	}
	ul {
		padding-left: 1rem;
	}
}
.group {
	display: flex;
	flex-direction: column;
	flex-basis: 40%;
	width: max-content;
	margin-bottom: 0.5rem;
	margin-right: 1.5rem;
}
.group:nth-child(2),
.group:nth-child(4) {
	margin-right: 0;
}

.wrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
}

.paper {
	width: max-content;
	height: max-content;
	padding: 1rem 2rem;
	font-size: 1rem;
	line-height: 1.8rem;
	margin: 0.5rem 0.5rem 2rem 0.5rem;

	@include tilt-on-hover;
}

.option {
	color: $meadow;
	height: 30px !important;
	width: auto !important;
}

.detailsWrapper {
	li {
		list-style: none;
		margin-bottom: 0.1rem;
	}
}

@include maxWidth($centeringWidthTreshold) {
	.spec h2 {
		margin-left: auto;
		margin-right: auto;
	}
}

@include maxWidth(1131px) {
	.wrapper {
		justify-content: space-around;
	}
}

@include maxWidth(701px) {
	.techspecWrapper,
	.detailsWrapper,
	.advantagesWrapper,
	.accessoriesWrapper {
		flex-basis: 75%;
		min-width: $minWidthBase;
	}
	.techspec {
		justify-content: space-around;
		div {
			margin-right: 0;
		}
	}
}
