.map {
	box-shadow: 0px -10px 15px -20px darkgray;
	width: '100%';
}

.mapMarker {
	svg {
		fill: $meadow;
		top: 100%;
		height: auto;
		width: 3rem;
		transform: translate(-50%, -100%);
	}
}

.mapPlaceholder {
	height: 100%;
}