.header {
	box-shadow: 0px -1px 15px -5px rgba(0, 0, 0, 0.1) !important;
	a {
		font-size: 1.3rem;
		font-weight: 600;
	}
}

.bar {
	margin: 0.5rem 0;
	display: flex;
	justify-content: space-around;
}

.right {
	display: flex;
	align-items: center;
}

// Mobile adjustments: this treshold triggers the header mobile mode
@include maxWidth($mobileHeaderTreshold) {
	.header a:not(.logo) {
		display: none;
	}
	.bar {
		justify-content: space-between;
	}
}
