$form-max-width: 600px;

.contact {
	margin-top: 1rem;
	h2 {
		margin-left: auto;
		margin-right: auto;
	}
}

.field {
	width: 100%;
}

.timing {
	white-space: nowrap;
}

.message {
	text-align: center;
	svg {
		position: relative;
		top: 5px;
		left: 1px;
	}
}

.form {
	min-height: 390px;
	margin: auto;
	display: flex;
	flex-direction: column;
	max-width: $form-max-width;
	position: relative;
}

.hidden {
	visibility: hidden;
	position: relative;
}

.loading {
	top: 35% !important;
}

.submit {
	margin-top: 0.5rem !important;
}

.success {
	@include absolute-center;
	top: 35%;
	display: flex;
	flex-direction: column;
	align-items: center;
	p {
		margin-top: 0;
	}
	svg {
		height: 50px !important;
		width: 50px !important;
	}
}

.error {
	@include absolute-center;
	top: 35%;
	width: max-content;
	margin: auto;
	color: $ryb;
}
