.language {
	position: absolute !important;
	right: -1.5rem;
	padding-left: 1rem !important;
	border-left: 1px solid lightgray !important;
}
.language::after {
	display: none;
}
.select {
	label {
		display: none;
	}
	span {
		margin-left: 0.5rem;
	}
}
.select::before {
	display: none;
}
.item {
	label {
		margin-left: 0.5rem;
		cursor: pointer;
	}
	span {
		display: none;
	}
}
