.language {
	margin-left: 1rem !important;
}
.language::after {
	display: none;
}
.select {
	label {
		display: none;
	}
	span {
		margin-left: 0.5rem;
	}
}
.select::before {
	display: none;
}
.item {
	label {
		margin-left: 0.5rem;
		cursor: pointer;
	}
	span {
		display: none;
	}
}
