.arrow {
	pointer-events: none;
	transition: all $defaultTransitionDuration;
	z-index: -1;
}

.arrow__path {
	stroke: $meadow;
	fill: transparent;
	stroke-width: 2px;
}

.arrow__head line {
	stroke: #000;
	stroke-width: 1px;
	display: none;
}
