@import './forms';
@import './overrides';
@import './process';
@import '../mixins/underline';

html {
	scroll-behavior: smooth;
}
.error {
	color: red;
}
* {
	font-family: 'Open Sans', sans-serif;
}
h2 {
	font-size: 42px;
	color: $meadow;
	width: max-content;
	position: relative;
	margin: 0 0 2rem 0;
	padding-top: 2rem;
}
h2:after {
	@include underline-after;
}
p {
	font-size: 1rem;
	line-height: 1.8rem;
}

a {
	width: max-content;
	text-decoration: unset;
	color: $meadow;
	transition-duration: 200ms;
	&:hover {
		color: $zomp;
	}
}
