@mixin sm {
    @media (max-width: 959px) {
        @content;
    }
}
@mixin xs {
    @media (max-width: 599px) {
        @content;
    }
}
@mixin maxWidth($maxWidth) {
    @media (max-width: $maxWidth) {
        @content;
    }
}

@mixin useWebp($url) {
    background-image: url($url);

    $dot: str-index($url, '.');
    @if $dot {
        $base: str-slice($url, 1, $dot - 1);
        $webp: $base + '.webp';

        @supports (background-image: url('#{$webp}')) {
            background-image: url($webp);
        }
    }
}
